* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  font: 400 18px 'Kumbh Sans', sans-serif;
  color: hsl(227, 10%, 46%);
}
body {
  background-color: hsl(185, 75%, 39%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
#profile-card {
  width: 350px;
  height: 380px;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, .3);
  z-index: 1;
}
strong {
  font-weight: 700;
  font-size: 18px;
  color: hsl(229, 23%, 23%);
  line-height: 1.7rem;
  
  letter-spacing: normal;
}
.p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex-basis: 20%;
  height: 100%;

  font-size: 10px;
  letter-spacing: 0.1rem;
}
#description {
  background-color: white;
  flex-basis: 35%;
  text-align: center;
  position: relative;
}
#descript {
  width: 100%;
  position: absolute;
  bottom: 15%;
}
#profile-data {
  flex-basis: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid rgba(192, 192, 192, 0.5);
  border-radius: 0 0 20px 20px;
  background-color: white;
}
#profile-cover-image {
  flex-basis: 40%;
  border-radius: 20px 20px 0 0;
  background-image: url("./images/bg-pattern-card.svg");
}
#profile-picture {
  border-radius: 50%;
  border: 5px solid white;
  
  display: block;
  position: relative;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  
  z-index: 2;
}
.descript > span {
  font-size: 14px;
}
#name {
  margin-right: .2rem;
}
#top-left {
  position: fixed;
  bottom: 35%;
  right: 50%;
}
#bottom-right {
  position: fixed;
  top: 50%;
  left: 50%;
}

/* credits footer */
/*
.attribution {
  width: 100%;
  height: 3rem;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;  
  bottom: 0;
}
.attribution > div {
  font-size: 12px;
  line-height: 20px;
  color:rgba(0, 0, 0, .8);
  position: relative;
  left: 10px;
  text-align: center;
}
.attribution > div::before{
  content: '©';
  font-size: 2rem;
  position: absolute;
  left: -30px; top: 10px;
}
.attribution a, .attribution em {  
  text-decoration: none;
  color: hsl(229, 92%, 19%);  
  font-style: normal;
}
@media (max-width: 360px) {
  #profile-card {
    width: 90vw;
  }
  .attribution{
    padding: 2.5rem;
  }
}*/